body {
    margin: auto 0;
}
a {
    color: #f5f5f6;
    text-decoration: none;
}

.main_nav_container {
    display: flex;
}

.sub_nav_container {
    display: flex;
    gap: 150px;
    margin: 0px 140px 0px;
}
.logo {
    height: 40px;
    width: 40px;
    background-image: url(/images/bpsicon.svg);
    background-position: center;
    background-size: cover;
}

.nav_list {
    gap: 35px;
    margin: 11px 0px 11px;
    display: flex;
    font-size: 0.55em;
}

.rightsidebg {
    height: 470px;
    width: 420px;
    background-color: red;
    position: relative;
    float: right;
    margin-top: -44px;
    margin-right: -1px;
}

.zone {
    margin: 0px 0px 0px;
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:0px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}
.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
.sticky {
    top: 0;
}
.push {
    margin-left: auto;
}


.section_one_main_container {
    margin-top: 90px;
    margin-left: 143px;
    display: flex;
}
.sticker_background {
    height: 470px;
    width: 420px;
    background-color: red;
    position: relative;
    float: right;
    margin-top: -135px;
    margin-left: 248px;
}


.yellow{
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
    bottom: 0px;
}


.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

